.btn {
	height: 100%;
	aspect-ratio: 1;
	border: 0;
	color: #776a5e;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease;
	position: absolute;
	right: 0;
	background: no-repeat center;
	background-size: contain;
}

.btn:disabled {
	cursor: not-allowed;
	background-color: #f2f2f2;
	opacity: 0.3;
}

.btn:hover,
.btn:active {
	background-color: #fcd9b87e;
}

.searchBtn {
	background-image: url('/public/icons/search.svg');
	right: 11%;
	background-color: #f2f2f2;
}
